<div class="container">
  <h2 class="mt-5 text-center">本当に退会しますか？</h2>
  <p class="mt-5 text-center">
    退会すると、会員情報や</br>
    これまでの購入履歴が閲覧できなくなります</br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="mt-5 text-center">
    <%= link_to "退会しない", customer_path(current_customer), class: 'btn btn-primary btn-lg' %>
    <%= link_to "退会する", withdraw_path, method: :patch, data: {confirm: "ほんまにええの？"}, class: "btn btn-danger btn-sm" %>
  </div>
</div>
