<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="mx-auto">
      <h1 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">About</h1>
      <h3 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h3>
      
      <div class="text-center">
      <%= image_tag('about.png', size: "800x400") %>
    </div>
  </div>
</div>
