<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="mx-auto">
      <%= image_tag('top.png', size: "800x400") %>
      <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </h4>
    </div>
  </div>
</div>