<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="mt-5">会員一覧</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= customer.last_name %>
              <%= customer.first_name %>
            </td>
            <td><%= customer.email %></td>
            <!--<td></td>-->
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
