<footer>
  <div class='container-fluid mt-5 p-3 mb-2 bg-secondary text-white'>
  	<div class='row'>
    	<div class='mx-auto'>

    		<div class="text-center">
    		  <i class="fab fa-instagram"></i>
      		<i class="fab fa-facebook-square"></i>
      		<i class="fab fa-twitter"></i>
    		</div>
    		<div class="mt-3">
    		<i class="fas fa-phone"></i>xxx-xxxx-xxxx</p>
      	<i class="fas fa-map-marker-alt"></i></i>長野県〇〇市〇〇町１－１－１</p>
      	<i class="fas fa-paper-plane"></i>xxx@xxx.xxx</p>
    	</div>
    	</div>
    </div>
  </div>
</footer>